# Игнорировать временные файлы
.DS_Store
Thumbs.db

# Игнорировать файлы и папки, созданные npm
node_modules/
npm-debug.log

# Игнорировать файлы и папки, созданные Gulp
dist/
gulp/
.tmp/
gulpfile.js

# Игнорировать локальные настройки PHPStorm
.idea/

# Игнорировать сгенерированные CSS файлы
*.css

# Игнорировать временные SCSS файлы
*.scssc

# Игнорировать сгенерированные PHPStorm файлы
*.iml
*.iws
*.ipr

# Игнорировать файлы конфигурации PHPStorm
.idea/
*.sublime-workspace

# Игнорировать файлы конфигурации редакторов кода
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Игнорировать сгенерированные файлы в корне проекта
/.editorconfig

# Игнорировать логи и отчеты об ошибках
log/
logs/
*.log

# Игнорировать временные файлы системы
ehthumbs.db
Icon?
Thumbs.db

# Игнорировать кэшированные файлы Composer
/vendor/
composer.phar
composer.lock
