:root {
  --bs-font-family: 'Inter', sans-serif; // Семейство шрифта по умолчанию
  --bs-font-size: 16px; // Размер шрифта по умолчанию
  --bs-font-weight: 400; // Жирность шрифта по умолчанию
  --bs-line-height: 1; // Базовая высота шрифта
}

$white: #fff;
$background-body: #181818;

$primary: #202020;
$secondary: #121212;
$black: #000;
$blue: #3137C9;
$red: #ED3024;

$z-index-sidebar: 1000;
$z-index-header: 1000;

$sidebar-width: 30rem;